{{> header}}

{{> nav}}

<div class="container">
  {{#with event}}
    <h1>{{name}}</h1>
    {{#if about}}
      <blockquote>
        <p>{{about}}</p>
      </blockquote>
    {{/if}}
    <a href="/events/{{key}}/publish" class="btn btn-default">Publish updates</a>
    <a href="/events/{{key}}/edit" class="btn btn-default">Edit Event</a>
    <br><br>
    <div class="well">{{status}}</div>
    <h4>Event Updates</h4>
    <ul class="updates list-group"></ul>
    {{#unless updates}}
      <div class="well">The are no updates for this event.</div>
    {{/unless}}
    <button id="delete" class="btn btn-default delete">Delete event</button>
    <br>
    <br>
  {{/with}}
</div>

{{> footer}}
<script src="/js/views/events/show.js"></script>